body {
  min-height: 100vh;
  background: linear-gradient(#3b1055, #7597de);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  .logo {
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin-left: 20px;
      a {
        text-decoration: none;
        padding: 6px 15px;
        color: white;
        border-radius: 20px;
        &:hover,
        &.active {
          background: white;
          color: #2b1055;
        }
      }
    }
  }
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  #text {
    color: white;
  }
}
