@import "_variables";
@import "_mixins";
@import "parallax";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  font-size: 13px;
  line-height: 1.2;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
